@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background: #f3f7ff;
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
}

.main img {
  height: 100vh;
  user-select: none;
}

.title-pgae {
  font-family: 'Roboto', sans-serif;
}

.ant-collapse-header, .ant-collapse-content-box{
	padding: 12px 0!important
}

.user-drop-menu{
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
svg { vertical-align: baseline; }
